<module>
	<rawname>irc</rawname>
	<repo>extended</repo>
	<name>Online Support</name>
	<version>2.11.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Admin</category>
	<description>This module lets you connect to the IRC network where developers and other users chat. You can chat to the developers live, if you have problems</description>
	<changelog>
		*2.11.0.0* bump version
		*2.10.0.2* #5478 
		*2.10.0.1* #5341
		*2.10.0.0* new version changes
		*2.9.0.1* set repository
		*2.9.0.0* 2.9 Update
	</changelog>
	<menuitems>
		<irc>Online Support</irc>
	</menuitems>
	<location>release/2.11/irc-2.11.0.0.tgz</location>
	<md5sum>04f9081ae9d3f9ab943fbaa79c02c346</md5sum>
</module>
