<module>
	<rawname>irc</rawname>
	<repo>extended</repo>
	<name>Online Support</name>
	<version>2.10.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Admin</category>
	<description>This module lets you connect to the IRC network where developers and other users chat. You can chat to the developers live, if you have problems</description>
	<changelog>
		*2.10.0.2* #5478 
		*2.10.0.1* #5341
		*2.10.0.0* new version changes
		*2.9.0.1* set repository
		*2.9.0.0* 2.9 Update
	</changelog>
	<menuitems>
		<irc>Online Support</irc>
	</menuitems>
	<location>release/2.10/irc-2.10.0.1.tgz</location>
	<md5sum>5e0ec1a1b6f2b36ba1cf6caf4bd2a060</md5sum>
</module>